.aider*
/.vs/ServiceNow/FileContentIndex/2273e24e-67cb-4510-82f6-ff6edef4ca84.vsidx
/.vs/ServiceNow/FileContentIndex/50ba7eef-41ba-443e-8d68-9933148f202c.vsidx
/.vs/ServiceNow/FileContentIndex/b5d40e6f-d3bb-47cb-b468-b226cd539679.vsidx
/.vs/ServiceNow/FileContentIndex/d73e9d10-169c-4177-b853-5c3fee1e3f0d.vsidx
/.vs/ServiceNow/FileContentIndex/ff0fed61-0505-4467-8192-4ee696caa068.vsidx
/.vs/ServiceNow/FileContentIndex
/.vs/ServiceNow/v17/.suo
/.vs/ServiceNow/v17/.wsuo
/.vs/ServiceNow/v17/DocumentLayout.backup.json
/.vs/ServiceNow/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
